.container-footer{
    border-top: 1px solid #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container-footer .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    padding: 40px 0;
}
.footer p{
    color: #c7c5c580;
}
.container-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.container-social a{
    text-decoration: none;
}
.container-social a img{
    height: 25px;
    filter: grayscale(100%);
}
.container-social a:nth-child(2) img{
    opacity: .3;
}
.container-social img:hover{
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.container-social a:nth-child(2) img:hover{
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
@media (min-width: 901px) and (max-width: 1100px){
    .container-footer .footer{
        width: 700px;
    }
}
@media screen and (max-width: 900px){
    .container-footer .footer{
        width: 90%;
    }
}

@media screen and (max-width: 550px){
    .container-footer .footer{
        width: 90%;
        font-size: 0.9rem;
    }
    .container-social{
        gap: 20px;
    }
}