.container-skills{
    width: 1000px;
    margin-bottom: 50px;
}
.skills-title{
    color: #2CB67D;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
}
.container-skills .skills{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    gap: 15px;
}
.skills div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    text-align: center;
    background-color: #dbe0e409;
    border: 0.5px solid #373839;
    border-radius: 10px;
    box-sizing: border-box;
    color: #dedcdc;
    font-size: 1rem;
    font-weight: 300;
}
@media (min-width: 901px) and (max-width: 1100px){
    .container-skills{
        width: 700px;
    }
}
@media (min-width: 551px) and (max-width: 900px){
    .container-skills{
        width: 90%;
    }
}

@media screen and (max-width: 550px){
    .container-skills{
        width: 90%;
    }
    .container-skills .skills{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}